{% extends "./base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'styles/details.css' %}"/>
{% endblock %}

{% block content %}

<div class="details-container">
    <h2 class="quiz-title">{{quiz}}</h2>
    <p class="quiz-n-questions">{{n_questions}} perguntas</p>
    <p class="quiz-description">{{quiz.description}}</p>
</div>

<div class="button-container">
    <div class="button" onclick="window.location.assign('../start/{{quiz.id}}')">Começar</div>
</div>

<div class="leaderboard-container">
    <h2 class="leaderboard-title">Leaderboard</h2>
    <div class="leaderboard">
        <div class="leaderboard-header">
            <div class="leaderboard-partition">
                Posição
            </div>
            <div class="leaderboard-partition">
                Nome
            </div>
            <div class="leaderboard-partition">
                Tempo
            </div>
            <div class="leaderboard-partition">
                Pontos
            </div>
        </div>

        {% for user in leaderboard %}
        <div class="leaderboard-item">
            <div class="leaderboard-partition">
                #{{user.position}}
            </div>
            <div class="leaderboard-partition">
                {{user.name}}
            </div>
            <div class="leaderboard-partition">
                {{user.time}}
            </div>
            <div class="leaderboard-partition">
                {{user.score}}/{{n_questions}}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="button-container">
    <div class="button" onclick="window.location.assign('../')">Voltar</div>
</div>

{% endblock %}
