.question{
    font-weight: 800;
    font-size: 1.6rem;
    margin: 0px 0px 20px 0px;
}

.opt-container{
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 5px 15px 5px 15px;
    margin: 10px 0px 10px 0px;
    background-color: #42B78B;
    border-radius: 15px;
    transition: 1s;
}

.opt-container:hover{
    opacity: 0.8;
}

.opt-container label{
    font-size: 1.4rem;
    color: #0C4B33;
    font-weight: 800;
    margin-left: 10px;
    width: 100%;
}

.radio{
    -webkit-appearance: none;
    appearance: none;
    font: inherit;
    color: #0C4B33;
    width: 1.6rem;
    height: 1.6rem;
    background-color: #0C4B33;
    border: 0.15em solid #0C4B33;
    border-radius: 50%;
    display: inline-grid;
    place-content: center;
}

.radio::before {
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1rem 1rem #42B78B;
  }
  
.radio:checked::before {
    transform: scale(1);
}

.button-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.button{
    border-radius: 15px;
    padding: 5px 25px 5px 25px;
    background-color: #42B78B;
    color: #0C4B33;
    font-size: 1.2rem;
    font-weight: 800;
    align-self: center;
    justify-self: center;
    width: fit-content;
    cursor: pointer;
    transition: 1s;
}

.button:hover{
    opacity: 0.5;
}