html {
    font-size: 32px;
    scroll-behavior: smooth;
}
  
body {
    font-size: 32px;
    font-family: "Nunito";
    margin: 0;
    background-color: #0C4B33;
    color: #42B78B;
    height: 100vh;
}


a{
    text-decoration: none;
    color: inherit;
}

header{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    height: 2rem;
    border-bottom: #42B78B;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    padding: 10px;
}

header a{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.logo{
    height: 2rem;
}

.logo-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}

.logo-text h1{
    font-size: 1rem;
    font-weight: 800;
}

#content{
    height: calc(100% - 140px);
    padding: 20px;
}

@media only screen and (max-width: 768px) {

    html{
        font-size: 24px;
    }

}

@media only screen and (max-width: 600px) {

    html{
        font-size: 22px;
    }

}

@media only screen and (max-width: 320px) {

    html{
        font-size: 18px;
    }
}