.details-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 40px);
    padding: 20px;
    border-radius: 20px;
    background-color: #42B78B;
}

.quiz-title{
    color: #0C4B33;
    font-weight: 800;
    font-size: 1.6rem;
    margin: 0px;
}

.quiz-n-questions{
    color: #0C4B33;
    font-size: 0.8rem;
    margin: 0px 0px 10px 0px;
}

.quiz-description{
    color: #0C4B33;
    font-size: 1rem;
    margin: 0px;
    margin-bottom: 10px;
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 20px;
}

.button{
    border-radius: 15px;
    padding: 5px 20px 5px 20px;
    background-color: #42B78B;
    color: #0C4B33;
    font-size: 1.2rem;
    font-weight: 800;
    align-self: center;
    justify-self: center;
    width: fit-content;
    cursor: pointer;
    transition: 1s;
}

.button:hover{
    opacity: 0.5;
}

.leaderboard-title{
    font-size: 1.2rem;
    margin: 0px 0px 20px 0px;
}

.leaderboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    border-radius: 20px;
    border-color: #42B78B;
    border-style: solid;
}

.leaderboard-header{
    display: flex;
    flex-direction: row;
    width: calc(95% - 20px);
    padding: 0px 10px 0px 10px;
    margin: 5px 0px 10px 0px;
}

.leaderboard-partition{
    font-size: 0.7rem;
    flex: 3;
}

.leaderboard-partition.time{
    flex: 3;
}

.leaderboard-partition.score{
    flex: 1;
    min-width: calc(fit-content + 10px);
}

.leaderboard-item{
    display: flex;
    flex-direction: row;
    width: calc(95% - 30px);
    padding: 5px 15px 5px 15px;
    margin: 5px 0px 10px 0px;
    background-color: #42B78B;
    border-radius: 15px;
}

.leaderboard-item .leaderboard-partition{
    color: #0C4B33;
}